@(tweets: Seq[UserTweet], filter: models.traits.Filter)(implicit request: RequestHeader)

    @template("tweets") {
        <div class="page-header">
            <h1>Tweets</h1>
        </div>

        <div class="page-body">
            <ul class="list-group">
            @for(tweet <- tweets) {
                <li class="list-group-item">
                    <div>
                        <div class="well well-sm">@tweet.tweet.text</div>
                        <div class="pull-right">- @tweet.user.map(_.username)</div>
                        <p><b>Created:</b> <span class="PrettyTime" title="@tweet.tweet.created_at"></span></p>
                        @tweet.tweet.location.map { location =>
                            <p><b>Location:</b> @location.place, @location.country</p>
                        }
                        @tweet.tweet.hashtags.headOption.map { _ =>
                            <p><b>Hashtags:</b> @tweet.tweet.hashtags.mkString("#", ",", "")</p>
                        }
                        @tweet.tweet.mentions.headOption.map { _ =>
                            <p><b>Mentions:</b> @tweet.tweet.mentions.mkString("@", ",", "")</p>
                        }
                        @tweet.tweet.urls.headOption.map { _ =>
                            <p><b>Urls:</b> @tweet.tweet.urls.mkString(",")</p>
                        }
                    </div>
                </li>
            }
            </ul>
        </div>

        <nav>
            <ul class="pagination">
                @if(filter.offset - filter.limit >= 0) {
                    <li><a href="@controllers.routes.Application.tweets(Some(filter.offset - filter.limit))">
                        <span>&laquo; Previous</span>
                    </a></li>
                } else {
                    <li class="disabled"><span>&laquo; Previous</span></li>
                }
                @if(tweets.length == filter.limit) {
                    <li><a href="@controllers.routes.Application.tweets(Some(filter.offset + filter.limit))">
                        <span>Next &raquo;</span></a></li>
                } else {
                    <li class="disabled"><span>Next &raquo;</span></li>
                }
            </ul>
        </nav>
    }
