@(users: Seq[(String, Int)], filter: models.traits.Filter)(implicit request: RequestHeader)

@template("locations") {
    <div class="page-header">
        <h1>Locations</h1>
    </div>

    <div class="page-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>#tweets</th>
                </tr>
            </thead>
            <tbody>
            @for((location, count) <- users) {
                <tr>
                    <td>@location</td>
                    <td>@count</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination">
            @if(filter.offset - filter.limit >= 0) {
                <li><a href="@controllers.routes.Application.locations(Some(filter.offset - filter.limit))">
                    <span>&laquo; Previous</span>
                </a></li>
            } else {
                <li class="disabled"><span>&laquo; Previous</span></li>
            }
            @if(users.length == filter.limit) {
                <li><a href="@controllers.routes.Application.locations(Some(filter.offset + filter.limit))">
                    <span>Next &raquo;</span></a></li>
            } else {
                <li class="disabled"><span>Next &raquo;</span></li>
            }
        </ul>
    </nav>
}
