@(stats: controllers.Stats)(implicit request: RequestHeader)

@template("stats") {
    <div class="page-header">
        <h1>Statistics</h1>
    </div>

    <div class="page-body">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Tweets per User</td>
                    <td> @stats.tweetsPerUser</td>
                </tr>
                <tr>
                    <td>Followers per User</td>
                    <td>@stats.followersPerUser</td>
                </tr>
                <tr>
                    <td>Friends per User</td>
                    <td>@stats.friendsPerUser</td>
                </tr>
            </tbody>
        </table>
    </div>
}
